<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="field">
            <h2><span jhiTranslate="taxieApp.field.detail.title">Field</span> {{field.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="taxieApp.field.type">Type</span></dt>
                <dd>
                    <span>{{field.type}}</span>
                </dd>
                <dt><span jhiTranslate="taxieApp.field.value">Value</span></dt>
                <dd>
                    <span>{{field.value}}</span>
                </dd>
                <dt><span jhiTranslate="taxieApp.field.updatedDate">Updated Date</span></dt>
                <dd>
                    <span>{{field.updatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="taxieApp.field.description">Description</span></dt>
                <dd>
                    <span>{{field.description}}</span>
                </dd>
                <dt><span jhiTranslate="taxieApp.field.updatedBy">Updated By</span></dt>
                <dd>
                    <span>{{field.updatedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/field', field.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
