<div>
    <h2 id="page-heading">
        <span jhiTranslate="taxieApp.field.home.title">Fields</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-field" [routerLink]="['/field/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="taxieApp.field.home.createLabel">
            Create new Field
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fields">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="taxieApp.field.type">Type</span></th>
            <th><span jhiTranslate="taxieApp.field.value">Value</span></th>
            <th><span jhiTranslate="taxieApp.field.updatedDate">Updated Date</span></th>
            <th><span jhiTranslate="taxieApp.field.description">Description</span></th>
            <th><span jhiTranslate="taxieApp.field.updatedBy">Updated By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of fields ;trackBy: trackId">
                <td><a [routerLink]="['/field', field.id, 'view' ]">{{field.id}}</a></td>
                <td>{{field.type}}</td>
                <td>{{field.value}}</td>
                <td>{{field.updatedDate | date:'medium'}}</td>
                <td>{{field.description}}</td>
                <td>{{field.updatedBy}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/field', field.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/field', field.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'field/'+ field.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
